<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.95.4" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="5.15.4" targetFramework="net472" />
  <package id="FontAwesome.Sharp.StrongName" version="5.15.3.3" targetFramework="net472" />
  <package id="jQuery" version="1.7.1" targetFramework="net472" />
  <package id="jQuery.Validation" version="1.9" targetFramework="net472" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.20710.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net472" />
  <package id="Syncfusion.AspNet" version="20.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="20.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.DocIO.AspNet" version="20.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.JavaScript" version="20.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="20.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.Pdf.AspNet" version="20.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.Presentation.AspNet" version="20.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.Web.Base" version="20.1.0.51" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.AspNet" version="20.1.0.51" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net472" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net472" />
</packages>